.mat-card-simples {
  max-width: 300px;
  background-color: rgb(80, 149, 228);
  margin-top: 10px;
  border-radius: 50px;
  color: white;
}
mat-label{
  color: white;
}
.mat-form-field{
  background-color: rgb(80, 149, 228);
  display: flex;
  align-content: center;
}

.mat-form-field input{
 
}
div {
  display: flex;
  align-content: center;
}